/* ==========================================================================
   Custom stuff
   ========================================================================== */

.clear
{
  clear: both;
}

.left
{
  float: left;
}

.right {
  float: right;
}

.swath
{
  display: inline-block;
  overflow: auto;
}

.logos
{
	height: 150px;
}